.loadMore {
  color: var(--color-black);
  font-family: inherit;
  font-weight: 600;
  font-size: 1.7rem;
  background-color: var(--color-white);
  outline: none;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  display: block;
  margin: 45px auto;
  box-shadow: rgba(
        var(--color-white),
        var(--color-white),
        var(--color-white),
        0.12
      )
      0px -12px 30px,
    rgba(var(--color-white), var(--color-white), var(--color-white), 0.12) 0px
      4px 6px,
    rgba(var(--color-white), var(--color-white), var(--color-white), 0.17) 0px
      12px 13px,
    rgba(var(--color-white), var(--color-white), var(--color-white), 0.09) 0px -3px
      5px;
  cursor: pointer;
}

.loadMore:hover {
  transition: all 500ms ease;
  transform: translateY(3px) scale(1.03);
}
