.container {
  width: 75%;
}

.carouselTitle {
  color: white;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.carouselOuter {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.carouselContainer {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}
