.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  margin: auto;
  padding: 0 1rem;
  color: var(--color-white);
}

.logo {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.logoIcon {
  width: 4.5rem;
  margin-right: 0.7rem;
  transition: all 250ms ease;
}

.logoIcon:hover {
  transform: scale(1.1);
}

.logoText {
  font-family: 'Esteban', serif;
  font-weight: 500;
  font-size: 3rem;
  color: inherit;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modeIcon {
  font-size: 20px;
  cursor: pointer;
}

.menuLink {
  text-decoration: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 350ms ease;
}

.menuLink:hover {
  text-shadow: 0 0 7px var(--color-light-gray), 0 0 7px var(--color-light-gray),
    0 0 21px var(--color-light-gray);
}
